#error {
   font-size: 14pt;
   color: red;
   background-color: pink;
}

#success {
   font-size: 14pt;
   color: darkgreen;
   background-color: lightgreen;
}

body {
   font-size: 24pt;
   margin: 0;
   padding: 0;
}

.heading {
   background-color: #0cf;
   padding: 3px;
}

#heading-description, .fa-area-chart {
   display: inline;
   margin-left: 10px;
}

#title, #tags {
   display: block;
}

input, .ql-editor {
   font-size: 24pt;
}

#datetime {
   font-size: 16pt;
}

@media screen and (min-width: 780px) {
   body {
      font-size: 18pt;
   }

   .heading {
      font-size: 18pt;
   }

   input, .ql-editor {
      font-size: 14pt;
   }

   #datetime {
      font-size: 14pt;
   }
}
